<ul>
    <li>
        <%= link_to "cadastrar", coins_path %>
    </li>
</ul>
<ul>
    <li>
        <%= link_to "cadastrar", coins_path %>
    </li>
</ul>
<ul>
    <li>
        <%= link_to "cadastrar", coins_path %>
    </li>
</ul>
<ul>
    <li>
        <%= link_to "cadastrar", coins_path %>
    </li>
</ul>