<h1>Welcome hijo de tu madre </h1>

<p><strong>Date:</strong> <%= data_br(Date.today) %> </p>
<p> Eu sou uma variável de instancia <strong> <%= @curso %> </strong> </p>
<p>Eu sou um nome declarado la no controller por uma var de instancia <strong> <%= @meu_nome %> </strong> </p>

<%= render "menu" %>
