<tbody>
  <div id="<%= dom_id coin %>">
    <tr>
      <td>
      <strong>Description:</strong>
      <%= coin.description %>
    

    
      <strong>Acronym:</strong>
      <%= coin.acronym %>

    
      <strong>Url image:</strong>
      <img src = "<%= coin.url_image %>" width = "25px" height="25px" />
      </td>
    </tr>

  </div>
</tbody>