


      <%# Conteudo da tablela %>
      <tr id="<%= dom_id coin %>">
        <td>
          <%= coin.description %>
        </td>
        
        <td>
          <%= coin.acronym %>
        </td>
        
        <td>
          <img src = "<%= coin.url_image %>" width = "25px" height="25px" />
        </td>
      
    <%# acaba conteudo %>
